@brightblue: #6ec2ee;
@lightblue:  #c9e0e6;
@darkblue:   #232d5e;
@white:      #fff;
@fieldfocus: #ccaaaa;
@lightgreen: #ccffcc;
@brightgreen:#99ff99;
@lightgray:  #aaaaaa;
@red:        #af3333;
@pink:       #ffcccc;

@mobilewidth: 500px;
@footerheight: 40px;
@lineheight:   30px;

#BODY {
  font-family: Arial, Verdana, sans-serif; margin: 0; padding: 0;
  
  #HEADER {
    background-color: @lightblue; color: @white; padding: 0 0 12px 0; height: 40px; width: 100%;
  }
  @media only screen and (max-width: @mobilewidth) {
  	#HEADER { display: none; }
  }
  
  #LIGHT-STRIP {
    background-color: @brightblue; position: relative; height: 8px;
  }
  
  #DARK-STRIP {
    background-color: @darkblue; position: relative; height: 55px;
    
    .logo {
  	  position: absolute; top: -63px;
    }
    @media only screen and (max-width: @mobilewidth) {
      .logo { display: none; }
    }
  }

  #FOOTER {
    height: @footerheight;
    background-color: @darkblue;
    color: @white;
  }
  
}

/* Generic classes */
.wrap {
  padding: 10px;
}
  
a, span.a {
  color: @darkblue;
  text-decoration: underline;
  cursor: pointer;
}

/* Generic form fields */

fieldset.elist, input[type="text"], textarea, select, option, fieldset.elist ul, fieldset.elist > legend, fieldset.elist input[type="text"], fieldset.elist > legend:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
    display: block;
}

input[type="text"] {
  padding: 0 20px;
}

textarea {
  width: 500px;
  height: 200px;
  padding: 20px;
}

textarea, input[type="text"], fieldset.elist ul, select, fieldset.elist > legend {
  border: 2px @lightgray solid;
  border-radius: 10px;
}

input[type="text"], fieldset.elist, select, fieldset.elist > legend {
  height: 32px;
  font-family: Tahoma;
  font-size: 14px;
}

input[type="text"]:hover, textarea:hover, select:hover, fieldset.elist:hover > legend {
  background-color: @lightblue;
}

select {
  padding: 4px 20px;
}

option {
  height: @lineheight;
  padding: 5px 4px;
}

option:not(:checked), textarea:focus {
  background-color: @pink;
}

fieldset.elist > legend:after, fieldset.elist label {
  height: 28px;
}

input[type="text"], fieldset.elist {
  width: 316px;
}

input[type="text"]:focus {
  background: @pink url("data:image/gif;base64,R0lGODlhEAAQANU5APnoxuvr6+uxPdvb2+rq6ri4uO7qxunp6dPT06SHV+/rx8vLy+nezLO0sbe3t9Ksas+qaaCEV8rKyp2dnf39/QAAAK6ursifZHFxcc/Qzu3mxYyMjExCJnV1dc6maO7u7o+Pj2tXNoaGhtfDpKCDVu3lxM+tcaKEV9bW1qOFVWNjY8KrisTExNra2nBbObGxsby8vO/mu7Kyso9ZAuzs7MSgAIiKhf///8zMzP///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADkALAAAAAAQABAAAAaXwJxwSCwOYzWkMpkkZmoAqDQaJdpqAqw2m53NRjlboAarFczomcE0C99o8DgNMVM8Tm3bbYDr9x11DwkzDG5yc2oQJIRCenx/MxoeETM2Q3pxATMlF4MYlo17OAsdLispMyAioIY0BzMcITMTKBasjgssFTMqGxItMjYUoTQBBAQHxgE0wZcfMtDRMi/QrA022NnaNg1CQQA7") no-repeat 2px center !important;
}

input[type="text"]:focus, textarea:focus, select:focus, fieldset.elist > legend {
  border: 2px @fieldfocus solid;
}

fieldset {
  border: 2px @darkblue solid;
  border-radius: 10px;
}

/* Editable [pseudo]select (i.e. fieldsets with [class=elist]) */

fieldset.elist {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: visible;
  padding: 0;
  margin: 0;
  border: none;
}

fieldset.elist ul {
  position: absolute;
  width: 100%;
  max-height: 320px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

fieldset.elist:hover ul {
  background-color: @white;
  border: 2px @red solid;
  left: 2px;
  overflow: auto;
}

fieldset.elist ul > li {
  list-style-type: none;
  background-color: transparent;
}

fieldset.elist label {
  display: none;
  width: 100%;
}

fieldset.elist input[type="text"] {
  width: 100%;
  height: @lineheight;
  line-height: @lineheight;
  border: none;
  background-color: transparent;
  border-radius: 0;
}

fieldset.elist > legend {
  display: block;
  margin: 0;
  padding: 0 0 0 5px;
  position: absolute;
  width: 100%;
  cursor: default;
  background-color: @lightgreen;
  line-height: @lineheight;
  font-style: italic;
}

fieldset.elist:hover > legend {
  position: relative;
  overflow: hidden;
}

fieldset.elist > legend:after {
  width: 20px;
  content: "\2335";
  float: right;
  text-align: center;
  border-left: 2px @lightgray solid;
  font-style: normal;
  cursor: default;
}

fieldset.elist:hover > legend:after {
  background-color: @brightgreen;
}

fieldset.elist ul input[type="radio"] {
  display: none;
}

fieldset.elist input[type="radio"]:checked ~ label {
  display: block;
  width: 292px;
  background-color: @white;
}

fieldset.elist:hover input[type="radio"]:checked ~ label {
  width: 100%;
}

fieldset.elist:hover label {
  display: block;
  height: 100%;
}

fieldset.elist label:hover {
  background-color: @darkblue !important;
}

fieldset.elist:hover input[type="radio"]:checked ~ label {
  background-color: @lightgray;
}
